:root {
    font-family: Arial, Helvetica, sans-serif;
}
/*Esconder el scrollbar*/
body::-webkit-scrollbar {
    display: none;
}
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-height: 90vh;
    margin: 2%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    background-color: transparent;
    color: #444;
}

.restaurante {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 1em;
    padding: 20px;
}

.imagen {
    background-color: white;
}

.grande {
    width: 200px;
    height: 200px;
}

.nombre {
    font-size: 22px;
    height: 3rem;
    /* Centrar texto */
    display: grid;
    place-items: center;
}

/* -------- HEADER ------------- */
#header {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
}

#titulo {
    text-align: center;
    flex-grow: 1;
}

#titulo a {
    display: block;
    width: 250px;
}

a {
    color: inherit;
    text-decoration: none;
    text-decoration: none;
}

#log-in,
#sign {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
}

#icono-menu {
    width: 50px;
    top: 5px;
    margin: 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icono-menu i {
    text-align: center;
    font-size: 25px;
    margin: 0px 12px;

}

#login i {
    font-size: 20px;
}

#menu-button {
    background: none;
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 6px;
    font-weight: 600;
    margin: 0 10px;
    background-color: rgb(219, 216, 216);
    height: 30px;
    width: 85px;

}

/* ------- Footer ------- */
.footer {
    background-color: wheat;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-arcas {
    margin-top: 1%;
    width: 145px;
    height: 70px;
}

.logo-arcas img {
    width: 100%;
    height: 100%;
}

.texto-footer {
    text-align: center;
}


/* --- Dispositivos móviles --- */
@media screen and (min-device-width : 320px) and (max-device-width : 568px) {

    .container {
        margin: 5%;
        margin-right: 15%;
        display: flex;
        justify-content: center;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        background-color: #fff;
        color: #444;
    }

    .restaurante {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .imagen {
        background-color: white;
    }

    img {
        width: 100px;
        height: 100px;
    }

    .nombre {
        margin: 5%;
        font-size: 20px;
        height: 3rem;
        /* Centrar texto */
        display: grid;
        place-items: center;
    }
}